<h2>I'm Terrence</h2>
	<div class="col-xs-12 col-sm-6 description">
	    <p>Great introduction, right? A little bit about myself, well...I'm entering ACT II of my life. Over the past decade, I've worked hard chasing a dream of becoming a great marketer. The only problem with this dream--it's not what I wanted. Sure, I've done work that I'm proud of and learned a lot along the way, but I've always felt like something was missing.</p> 

	    <p>After a layoff, I decided to make the jump and pursue my passion for technology and development. While still at the beginning of this life-long journey of learning, I'm proud to say that I am a junior web developer. I have several years of experience in brand strategy and design, but these days I'm finding ways to use that knowledge to build awesome web applications and create user-friendly experiences.</p>
	</div>	
	<div class="col-xs-12 col-sm-6">
		<ul class="article-grid">
			<li class="article-what-i-do grid-item">
				<div class="overlay"></div>
				<article class="grid-article simple-slideshow">
					<div class="icon-grid">
						<div>
							<span class="devicons devicons-ruby_on_rails"></span>
							<span class="devicons devicons-ruby"></span>
							<span class="devicons devicons-javascript"></span>	
						</div>
						<div>
							<span class="devicons devicons-html5"></span>
							<span class="devicons devicons-jquery"></span>			
							<span class="devicons devicons-css3"></span>
						</div>
						<div>
							<span class="devicons devicons-sass"></span>
							<span class="devicons devicons-bootstrap"></span>
							<span class="devicons devicons-git"></span>
						</div>
					</div>
					<div class="article-large-icons">
							<span class="devicons devicons-ruby_on_rails"></span>
							<span class="devicons devicons-ruby"></span>
							<span class="devicons devicons-javascript"></span>	
							<span class="devicons devicons-html5"></span>
							<span class="devicons devicons-jquery"></span>			
							<span class="devicons devicons-css3"></span>
							<span class="devicons devicons-sass"></span>
							<span class="devicons devicons-bootstrap"></span>
							<span class="devicons devicons-git"></span>
							<span class="fa fa-book book-icon" style="display: none;"></span>
					</div>
					<div class="article-fixed-content">
						<p>
							<span style="display: none;">Rails Framework</span>
							<span style="display: none;">Ruby</span>
							<span style="display: none;">Javascript</span>
							<span style="display: none;">HMTL5 markup</span>
							<span style="display: none;">jQuery</span>
							<span style="display: none;">CSS3 styling and interaction</span>
							<span style="display: none;">Sass preprocessor</span>
							<span style="display: none;">Bootstrap frontend framework</span>
							<span style="display: none;">Git version control</span>
							<span style="display: none;">Documentation!</span>
						</p>
						<h2>MY TOOLBOX</h2>
					</div>
				</article>
			</li>
		</ul>
	</div>           

		
