        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Keep in touch <small>Or Hire Me!</small></h2>
                <p>I'm always looking for opportunities to do great work. Shoot me a message if you're interested in seeing what I can do.</p>
                <p><a href="mailto:terr.whittakerjr@gmail.com">terr.whittakerjr@gmail.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/ellodigsby"><i class="fa fa-twitter fa-lg"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/digsby06"><i class="fa fa-github fa-lg"></i>
                    </li>
                </ul>
            </div>
        </div>
    </section>