<div class="flex">
  <div class="ba-slider">
      <%= image_tag("Twins_2.png") %>
  <div class="resize">
      <%= image_tag("Twins_1.png") %>   
  </div>
      <span class="handle"></span> 
  </div>
</div>
