/* 
*************
**Base CSS for Portfolio Grid
************* */


/* ----------------------- Portfolios Area ------------------------- */
.portfolios-area {
  padding-top:80px;
  padding-bottom:0;
}
.single-portfolio.mix {
  display:none;
}

ul.filters-tab {
    text-align: center;
  margin-bottom:30px;
}

ul.filters-tab li {
  color: #353535;
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat",sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 15px 25px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease 0s;
          transition: all 0.5s ease 0s;
}

ul.filters-tab li.active , ul.filters-tab li:hover {
  background:#11C3F0;
  color:#fff;
}

.single-portfolio {
    float: left;
    width: 33%;
  overflow:hidden;
  -webkit-transition: all 0.5s ease 0s;
          transition: all 0.5s ease 0s;
}

.image {
    position: relative;
}

.portfolio-hover {
  bottom: 0;
  height: 0%;
  left: 0;
  position: absolute;
  text-align: center;
  -webkit-transition: all 0.3s linear 0s;
          transition: all 0.3s linear 0s;
  width: 100%;
  z-index: 1;
}

.portfolio-hover:after {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.5;
    filter: alpha(opacity=50);
    position: absolute;
    bottom: 0%;
    width: 100%;
    z-index: -1;
  -webkit-transition: all .30s linear 0s;
          transition: all .30s linear 0s;
}



.hover-table {
    display: table;
    height: 100%;
    width: 100%;
}

.hover-tablecell {
    display: table-cell;
    vertical-align: middle;
}

.hover-tablecell a {
    background: #11C3F0 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    margin-right: 25px;
    text-align: center;
    width: 50px;
  visibility:hidden;
}

.single-portfolio:hover .portfolio-hover{
  height:100%;
}

.single-portfolio:hover .hover-tablecell a{
  visibility:visible;
}

.single-portfolio:hover  .single-portfolio img{
  -webkit-transform:scale(1.2);
      -ms-transform:scale(1.2);
          transform:scale(1.2);
}

.single-portfolio .image > a img {
  -webkit-transition: all 0.5s ease 0s;
          transition: all 0.5s ease 0s;
}

.single-portfolio:hover .image > a img {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}
